.footer_linke {
    max-width: 500px;
    margin: 14px 0px
}
.footer_linke a { 
    line-height: normal;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    font-family: Noiche;
}
.footer_linke a:hover
{
    color: #bb3e03;
}
.footer_linke  .nav_linke.nav {
    width: 377px;
    justify-content: space-between;
    margin: auto;
}
.footer_wraper p
{
    font-family: 'Noiche';
    font-weight: bold;
    font-size: 18px; 
    text-align: center;
    color: #000;
    margin-bottom: 0;
    line-height: normal;

}
.social_linke {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.footer_wraper
 {
    min-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 .social_linke .nav-link {
    height: 35px;
    width: 35px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    margin: 0 6px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.16));
}
.footer_logo{
    max-width: 117px;
}




@media (max-width:480px) 

{
    .footer_linke .nav_linke.nav { 
        flex-direction: column;
    }
}